[class*="col-"] {
    padding: 0;
    margin: 0;
}
.row,
#projects,
#lets-connect {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
div,
hr {
    padding: 0;
    margin: 0;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background-color: #fffff3;
}
.clear-fix {
    overflow: auto;
}
.education-entry,
.work-entry {
    padding: 0 5%;
}
.project-entry {
    padding: 30px 5%;
}
h1 {
    font-size: 40px;
    color: #00d9c0;
    display: inline;
    line-height: 60px;
}
h2 {
    font-weight: bold;
    font-size: 24px;
    color: #030301;
    line-height: 34px;
}
h3 {
    font-style: italic;
    font-size: 20px;
    color: #f55d3e;
    padding-top: 10px;
}
h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
}
h1,
h2,
h4 {
    margin: 0;
    padding: 10px 0;
}
.date-text {
    font-style: italic;
    font-size: 14px;
    color: #737371;
    display: block;
}
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #030301;
    display: block;
}
p,
.pspan {
    font-size: 14px;
    color: #030301;
    padding: 8px 0 0 0;
}
a,
a:visited {
    font-weight: bold;
    color: #00d9c0;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
a:active,
a:hover {
    font-weight: bold;
    color: #f55d3e;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
.welcome-message {
    font-size: 18px;
    color: #030301;
    padding: 0;
    margin: 0;
}
#skills-h3 {
    color: #00d9c0;
    display: none;
    padding: 0;
    margin: 0;
}
.accent1 {
    background-color: #f55d3e;
}
.accent1-text {
    font-weight: bold;
    color: #f55d3e;
}
.white-text,
a.white-link {
    font-weight: bold;
    color: #fffff3;
    display: inline;
}
.light-bkg {
    background-color: #e7ddc9;
    padding-bottom: 10px;
    clear: both;
}
.dark-bkg,
#main {
    background-color: #978d79;
}
#namerole {
    background-color: #877d69;
}
#header {
    background-color: #877d69;
    padding-top: 10px;
}
.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.flex-box-row {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.center-content {
    padding: 2.5% 5%;
}
ul {
    list-style-type: none;
}
.biopic {
    float: left;
    padding: 0 10px 10px 10px;
    width: 200px;
    display: none;
}
img {
    padding: 10px;
}
span {
    padding: 5px;
}
#lets-connect {
    text-align: center;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 10%;
    }
}
@media only screen and (min-width: 1024px) {
    #container {
        width: 1024px;
        margin: 0 auto;
    }
    .container {
        width: 1024px;
    }
}
@media only screen and (max-width: 900px) {
    .biopic {
        width: 175px;
    }
}
@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 5%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
}
#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}
#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 3%;
}
@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
}